Source: opm-grid
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: build-essential, debhelper (>= 9),
               libboost-system-dev, libboost-date-time-dev, libboost-test-dev,
               libdune-common-dev, cmake, bc, git, zlib1g-dev, libtool, pkg-config,
               libdune-grid-dev, libtinyxml-dev,
               libdune-istl-dev, doxygen, texlive-latex-extra,
               texlive-latex-recommended, ghostscript,
               libsuitesparse-dev,
               libopm-common-dev,
               libdune-geometry-dev, libtrilinos-zoltan-dev, mpi-default-dev,
               mpi-default-bin
Standards-Version: 3.9.2
Section: libs
Homepage: http://opm-project.org
Vcs-Git: git://github.com/OPM/opm-grid.git
Vcs-Browser: https://github.com/OPM/opm-grid

Package: libopm-grid1-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: libopm-grid1 (= ${binary:Version})
Provides: libopm-grid-dev
Suggests: libopm-grid1-doc
Replaces: libdune-cornerpoint1-dev
Description: opm-grid library -- development files
 opm-grid is intended to enable working with corner-point or, more
 generally, pillar grids in dune. A standard grid type in the petroleum
 industry, corner-point grids fill space with a relatively low number
 of cells while still providing sufficient flexibility to model faults,
 fractures and erosion. The grid format was originally designed with
 an eye towards geological modelling rather than numerical simulation
 and this design choice does limit the number of feasible numerical
 methods.

Package: libopm-grid1
Section: libs
Pre-Depends: ${misc:Pre-Depends}, multiarch-support
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libopm-grid
Replaces: libdune-cornerpoint1
Description: opm grid library
 opm-grid is intended to enable working with corner-point or, more
 generally, pillar grids in dune. A standard grid type in the petroleum
 industry, corner-point grids fill space with a relatively low number
 of cells while still providing sufficient flexibility to model faults,
 fractures and erosion. The grid format was originally designed with
 an eye towards geological modelling rather than numerical simulation
 and this design choice does limit the number of feasible numerical
 methods.

Package: libopm-grid1-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Provides: libopm-grid-doc
Replaces: libdune-cornerpoint1-doc
Description: opm grid library -- documentation
 opm-grid is intended to enable working with corner-point or, more
 generally, pillar grids in dune. A standard grid type in the petroleum
 industry, corner-point grids fill space with a relatively low number
 of cells while still providing sufficient flexibility to model faults,
 fractures and erosion. The grid format was originally designed with
 an eye towards geological modelling rather than numerical simulation
 and this design choice does limit the number of feasible numerical
 methods.

Package: libopm-grid1-bin
Section: libs
Pre-Depends: ${misc:Pre-Depends}, multiarch-support
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libopm-grid-bin
Replaces: libdune-cornerpoint1-bin
Description: opm grid library -- applications
 opm-grid is intended to enable working with corner-point or, more
 generally, pillar grids in dune. A standard grid type in the petroleum
 industry, corner-point grids fill space with a relatively low number
 of cells while still providing sufficient flexibility to model faults,
 fractures and erosion. The grid format was originally designed with
 an eye towards geological modelling rather than numerical simulation
 and this design choice does limit the number of feasible numerical
 methods.

Package: libopm-grid1-dbg
Section: debug
Architecture: any
Multi-Arch: foreign
Provides: libopm-grid-dbg
Depends: libopm-grid1 (= ${binary:Version}), ${misc:Depends}
Replaces: libdune-cornerpoint1-dbg
Description: opm grid library -- debug symbols
 opm-grid is intended to enable working with corner-point or, more
 generally, pillar grids in dune. A standard grid type in the petroleum
 industry, corner-point grids fill space with a relatively low number
 of cells while still providing sufficient flexibility to model faults,
 fractures and erosion. The grid format was originally designed with
 an eye towards geological modelling rather than numerical simulation
 and this design choice does limit the number of feasible numerical
 methods.
